@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Schoolbell&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: caption;
}

section {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: url(media/bg.jpg), url(media/mask.jpg);
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #015b75;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

header .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(media/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

header .toggle.active {
    background: url(media/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.play {
    position: absolute;
    bottom: 40px;
    left: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.play img {
    max-width: 40px;
}

.play span {
    font-weight: 600;
    color: #015b75;
    margin-left: 10px;
    letter-spacing: 1px;
}

.sci {
    position: absolute;
    bottom: 40px;
    right: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    text-decoration: none;
    transform: scale(0.6);
}

.content {
    padding: 50px;
}

.content h2 {
    font-size: 9em;
    line-height: 1em;
    color: #015b75;
    font-family: 'Kaushan Script', cursive;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
}

.navigation.active {
    opacity: 1;
    visibility: visible;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    display: inline-block;
    color: #015b75;
    font-size: 2em;
    font-weight: 300;
    text-decoration: none;
}

.navigation ul li a:hover {
    color: #ff286f
}

.trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(255, 255, 255, 0.959);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.trailer.active {
    opacity: 1;
    visibility: visible;
}

.trailer .video {
    max-width: 900px;
    outline: none;
}

.trailer .close {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    max-width: 25px;
}

@media (max-width:991px) {
    section {
        background-size: 200%;
    }
    .content h2 {
        font-size: 20vw;
        color: #ffffff;
        text-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    .trailer video {
        max-width: 90%;
    }
}